* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}
*::-webkit-scrollbar {
  display: none;
}
:root {
  --main: green;
}
.footer {
  color: #fff;
  padding: 16px 0px;
  text-align: center;
  background-color: #5c636a;
}
.navbar {
  /* padding: 8px 85px; */
  margin: 0 auto;
  background-color: var(--main);
}
/* .product_list,
.cart_list {
  padding: 8px 93px;
  margin: 0 auto;
} */

.img-container {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  height: 207px;
  transition: 0.7s ease-in;
}
.card-img-top:hover {
  transform: scale(1.3);
}

.cart_details {
  text-align: center;
}
.cart_img {
  width: 200px;
  height: 200px;
}

.counter_btn:focus {
  box-shadow: none !important;
}
.navbar-collapse {
  justify-content: end;
}
.nav-link {
  padding: 0.5rem 0rem;
}

.add_to_cart_footer {
  cursor: pointer;
  border-radius: 2px;
  background-color: #17a2b8;
  color: #fff;
}
/* .add_to_cart_footer:hover {
  background-color: #fff;
  color: #17a2b8;
}
.in_cart_footer:hover {
  background-color: #6c757d;
  color: #fff;
} */
.in_cart_footer {
  transition: 0.7s ease-in;
  cursor: pointer;
  border-radius: 2px;
  background-color: #6c757d;
  color: #fff;
}

.cart_btn {
  border: none;
  padding: 0.5rem 4.9rem;
  background-color: inherit;
  color: inherit;
}

.details {
  padding: 55px 0;
}

@media screen and (max-width: 400px) {
  .container-fluid {
    height: auto !important;
  }
  .cart_btn {
    padding: 0.5rem 3.9rem;
  }
  .details {
    padding: 0 20px !important;
  }
  .navbar-toggler {
    padding: 0.04rem 0.26rem;
    box-shadow: none;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.09rem #fff;
  }

  .nav-link {
    padding: 0.8rem 0rem;
  }
  .mobile_img {
    width: 350px !important;
    height: 400px !important;
  }
}
@media screen and (max-width: 768px) {
}
